<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MumbaiNosh"
        tools:targetApi="31">
        <activity
            android:name=".BaseActivity"
            android:exported="false" />
        <activity
            android:name=".About"
            android:exported="false" />
        <activity
            android:name=".WithBottomNavActivity"
            android:exported="false" />
        <activity
            android:name=".ProviderFinalScreen"
            android:exported="false" />
        <activity
            android:name=".ProviderScreen"
            android:exported="false" />
        <activity
            android:name=".FirstScreen"
            android:exported="false" />
        <activity
            android:name=".RestroDashboard"
            android:exported="false" />
        <activity
            android:name=".AavailFoodList"
            android:exported="false" />
        <activity
            android:name=".RestroList"
            android:exported="false"
            android:theme="@style/Theme.MumbaiNosh" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAAJslJw5f55CetSo-utXlYqBL-qyRKDp8" />

        <activity
            android:name=".ResultsActivity"
            android:exported="true"
            android:theme="@style/Theme.MumbaiNosh" />
        <activity
            android:name=".VerifyOTPActvity"
            android:exported="false" />
        <activity
            android:name=".SendOTPActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MapsActivity"
            android:exported="true"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>